@charset "UTF-8";

h1{
    text-align: center;
    color: rgb(0, 0, 0);

}

p{
    color: antiquewhite;
    text-align: left;
    width: 200px;
    padding: 50px;
    background-color: blueviolet;
    border-radius: 05%;
}