@charset "UTF-8";

h1 {
    text-align: center;

}

.box {
    color: antiquewhite;
    width: 200px;
    padding: 50px;
    background-color: blueviolet;
    border-radius: 5px;
    margin: 20px auto;
    box-sizing: border-box;
}